<div class="content-page">
	<div id="shout-out">- Norges største baroversikt -</div>
	<img src="../images/testbar.jpg"/ class="carousel">
	<table id="quick-cities">
		<tr>
			<td><a href="#">Oslo</a></td>
			<td><a href="#">Bergen</a></td>
			<td><a href="#">Trondheim</a></td>
			<td><a href="#">Stavanger</a></td>
		</tr>
	</table>
	<table id="featured-content">
		<tr>
			<td id="featured-content-1">
				<h3>Topp 5</h3>
				<table style="width: 100%;">
					<tr>
						<td style="border: 1px solid lightgray;">
							<img src="../images/barcircus.jpg" style="border-right: 1px solid black; width: 60px; height: 60px; float: left; margin-right: 20px;"/> Bar Circus<br><span style="font-size: .7em;color: grey;">Trondheim</span></td>
					</tr>
					<tr>
						<td style="border: 1px solid lightgray;">
							<img src="../images/moskusbar.png" style="border-right: 1px solid black; width: 60px; height: 60px; float: left; margin-right: 20px;"/> Moskus Bar<br><span style="font-size: .7em;color: grey;">Trondheim</span></td>
					</tr>
					<tr>
						<td style="border: 1px solid lightgray;">
							<img src="../images/krambua.jpg" style="border-right: 1px solid black; width: 60px; height: 60px; float: left; margin-right: 20px;"/> Krambua<br><span style="font-size: .7em;color: grey;">Trondheim</span></td>
					</tr>
					<tr>
						<td style="border: 1px solid lightgray;">
							<img src="../images/rausbar.jpg" style="border-right: 1px solid black; width: 60px; height: 60px; float: left; margin-right: 20px;"/> Raus Bar<br><span style="font-size: .7em;color: grey;">Trondheim</span></td>
					</tr>
					<tr>
						<td style="border: 1px solid lightgray;">
							<img src="../images/bari.jpg" style="border-right: 1px solid black; width: 60px; height: 60px; float: left; margin-right: 20px;"/> Bari<br><span style="font-size: .7em;color: grey;">Trondheim</span></td>
					</tr>
				</table>
			</td>
			<td id="featured-content-2">
				<h3>Nær deg</h3>
				<table style="width: 100%;">
					<tr>
						<td style="border: 1px solid lightgray;">
							<img src="../images/bari.jpg" style="border-right: 1px solid black; width: 60px; height: 60px; float: left; margin-right: 20px;"/> Bari<br><span style="font-size: .7em;color: grey;">Trondheim</span></td>
					</tr>
					<tr>
						<td style="border: 1px solid lightgray;">
							<img src="../images/krambua.jpg" style="border-right: 1px solid black; width: 60px; height: 60px; float: left; margin-right: 20px;"/> Krambua<br><span style="font-size: .7em;color: grey;">Trondheim</span></td>
					</tr>
					<tr>
						<td style="border: 1px solid lightgray;">
							<img src="../images/barcircus.jpg" style="border-right: 1px solid black; width: 60px; height: 60px; float: left; margin-right: 20px;"/> Bar Circus<br><span style="font-size: .7em;color: grey;">Trondheim</span></td>
					</tr>
					<tr>
						<td style="border: 1px solid lightgray;">
							<img src="../images/moskusbar.png" style="border-right: 1px solid black; width: 60px; height: 60px; float: left; margin-right: 20px;"/> Moskus Bar<br><span style="font-size: .7em;color: grey;">Trondheim</span></td>
					</tr>
					<tr>
						<td style="border: 1px solid lightgray;">
							<img src="../images/rausbar.jpg" style="border-right: 1px solid black; width: 60px; height: 60px; float: left; margin-right: 20px;"/> Raus Bar<br><span style="font-size: .7em;color: grey;">Trondheim</span></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td id="featured-content-3">
				<h3>Flest stemmer</h3>
				<table style="width: 100%;">
					<tr>
						<td style="border: 1px solid lightgray;">
							<img src="../images/bari.jpg" style="border-right: 1px solid black; width: 60px; height: 60px; float: left; margin-right: 20px;"/> Bari<br><span style="font-size: .7em;color: grey;">Trondheim</span></td>
					</tr>
					<tr>
						<td style="border: 1px solid lightgray;">
							<img src="../images/krambua.jpg" style="border-right: 1px solid black; width: 60px; height: 60px; float: left; margin-right: 20px;"/> Krambua<br><span style="font-size: .7em;color: grey;">Trondheim</span></td>
					</tr>
					<tr>
						<td style="border: 1px solid lightgray;">
							<img src="../images/barcircus.jpg" style="border-right: 1px solid black; width: 60px; height: 60px; float: left; margin-right: 20px;"/> Bar Circus<br><span style="font-size: .7em;color: grey;">Trondheim</span></td>
					</tr>
					<tr>
						<td style="border: 1px solid lightgray;">
							<img src="../images/moskusbar.png" style="border-right: 1px solid black; width: 60px; height: 60px; float: left; margin-right: 20px;"/> Moskus Bar<br><span style="font-size: .7em;color: grey;">Trondheim</span></td>
					</tr>
					<tr>
						<td style="border: 1px solid lightgray;">
							<img src="../images/rausbar.jpg" style="border-right: 1px solid black; width: 60px; height: 60px; float: left; margin-right: 20px;"/> Raus Bar<br><span style="font-size: .7em;color: grey;">Trondheim</span></td>
					</tr>
				</table>
			</td>
			<td id="featured-content-4">
				<h3>Events Nær deg</h3>
				<table style="width: 100%;">
					<tr>
						<td style="border: 1px solid lightgray;">
							<img src="../images/krambua.jpg" style="border-right: 1px solid black; width: 60px; height: 60px; float: left; margin-right: 20px;"/> Happy Friday!<br><span style="font-size: .7em;color: grey;">Krambua</span></td>
					</tr>
					<tr>
						<td style="border: 1px solid lightgray;">
							<img src="../images/rausbar.jpg" style="border-right: 1px solid black; width: 60px; height: 60px; float: left; margin-right: 20px;"/> Classic Tuesday<br><span style="font-size: .7em;color: grey;">Raus Bar</span></td>
					</tr>
					<tr>
						<td style="border: 1px solid lightgray;">
							<img src="../images/bari.jpg" style="border-right: 1px solid black; width: 60px; height: 60px; float: left; margin-right: 20px;"/> Girls Night<br><span style="font-size: .7em;color: grey;">Bari</span></td>
					</tr>
					<tr>
						<td style="border: 1px solid lightgray;">
							<img src="../images/moskusbar.png" style="border-right: 1px solid black; width: 60px; height: 60px; float: left; margin-right: 20px;"/> Teatertåren<br><span style="font-size: .7em;color: grey;">Moskus Bar</span></td>
					</tr>
					<tr>
						<td style="border: 1px solid lightgray;">
							<img src="../images/barcircus.jpg" style="border-right: 1px solid black; width: 60px; height: 60px; float: left; margin-right: 20px;"/> Julequiz<br><span style="font-size: .7em;color: grey;">Bar Circus</span></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>